#post-preview-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 5px;
}

.post-preview {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.post-preview:hover {
    transform: scale(1.05);
}