<app-page-wrapper>
    <div id="post-preview-container">
        <ng-container *ngFor="let article of ((this.articles$ | async) | sortArticles); let isLast=last">
            <app-post-preview class="post-preview"  
                [name]="article.title"
                [description]="article.description"            
                [author]="article.author"
                [creationDate]="article.publishDate"
            >
            </app-post-preview>
            <hr *ngIf="!isLast">
        </ng-container>

    </div>
</app-page-wrapper>
