:host {
    display: block;
    padding: 130px 0px 80px 0px;
    background: url("/assets/earth.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

#post-preview-container {
    width: min(min(max(60%, 400px), 1000px), 100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-preview {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}