:host {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}

#content {
    position: relative;
    max-width: 95%;
    background-color: white;
    border-radius: 20px;
    padding: 50px 20px 20px 20px;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    &:hover {
        cursor: pointer;
    }
}