#article-content {
    width: 100%;
    background-color: white;
    border-radius: 5px;

    #banner {
        position: relative;
        border-radius: 5px;
        height: 250px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        text-align: center;

        #backButton {
            position: absolute;
            left: 20px;
            top: 20px;
        }
    }
}

