.notifications {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    min-width: 400px;
    max-width: 400px;
  
    .notification {
      margin: 5px;
      padding: 10px;
      border-radius: 5px;
      background-color: white;
      overflow: hidden;
  
      .title {
        font-weight: bold;
      }
  
      .message {
        max-height: 200px;
        overflow-y: auto;
      }
  
      &.info {
        box-shadow: 0px 0px 5px rgba(189, 189, 189, 0.9);
      }
  
      &.success {
        box-shadow: 0px 0px 5px rgba(27, 158, 119, 0.9);
      }
  
      &.warning {
        box-shadow: 0px 0px 5px rgba(217, 95, 2, 0.9);
      }
  
      &.error {
        box-shadow: 0px 0px 5px rgba(246, 71, 71, 0.9);
      }
    }
  }