#page-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin-block: 20px;
}

h2 {
    margin-block: 20px;
    font-size: 20px;
}

p {
    line-height: 30px;
    color: rgb(49, 49, 49);
}

ul {
    li {
        line-height: 30px;
    }
}

hr {
    margin-top: 20px;
}