<form action="" [formGroup]="dataForm">
    <div class="form-section">
        <div>
            <label for="lat" i18n="latitude header of toolbox">Breitengrad</label>
            <input id="lat" class="tool-input" type="number" formControlName="latitude" step="0.01">
        </div>
        <div>
            <label for="long" i18n="longitude header of toolbox">Längengrad</label>
            <input id="long" class="tool-input" type="number" formControlName="longitude" step="0.01">
        </div>
        <div>
            <label for="alt" i18n="altitude header of toolbox">Höhe</label>
            <input id="alt" class="tool-input" type="number" formControlName="altitude">
        </div>
        <div>
            <label for="temp" i18n="temperature header of toolbox">Temperatur</label>
            <input id="temp" class="tool-input" type="number" formControlName="temperature">
        </div>
        <div>
            <label for="hum" i18n="humidity header of toolbox">Luftfeuchtigkeit</label>
            <input id="hum" class="tool-input" type="number" formControlName="humidity">
        </div>
        <div>
            <label for="press" i18n="pressure header of toolbox">Luftdruck</label>
            <input id="press" class="tool-input" type="number" formControlName="pressure">
        </div>
    </div>
</form>
<hr>
<div>
    <label for="hex">Hex:</label>
    <h3>{{this.hexForm}}</h3>
</div>
<div>
    <label for="binary">Binary:</label>
    <h3 style="overflow-wrap: break-word;">{{this.binaryForm}}</h3>
</div>