<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <label for="name">Name:</label>
    <input [ngClass]="username?.invalid ? 'input-invalid' : ''" id="name" placeholder="Name" formControlName="username">

    <label for="password">Passwort:</label>
    <input type="password" [ngClass]="password?.invalid ? 'input-invalid' : ''" id="password" placeholder="Passwort" formControlName="password">
    <button [disabled]="username?.invalid || password?.invalid" type="submit">Anmelden</button>
</form>
