<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <label for="name" i18n="The name field of the login form">Name:</label>
    <input [ngClass]="username?.invalid ? 'input-invalid' : ''" id="name" placeholder="Name" formControlName="username">

    <label for="password" i18n="The password field of the login form">Passwort:</label>
    <input type="password" [ngClass]="password?.invalid ? 'input-invalid' : ''" id="password" placeholder="Passwort" formControlName="password">
    <button [disabled]="username?.invalid || password?.invalid" type="submit" i18n="The submit button of the login form">Anmelden</button>
</form>
