<app-page-wrapper>
    <div id="page-content">
        <p id="disclaimer">Achtung: Beim Klicken auf Bilder werden hochauflösende Bilder mit ~3MB Größe geladen!</p>
        <div id="image-container">
            <img *ngFor="let crap of this.imageCount; let i = index;" (click)="this.showImage(i)" [src]="this.getSmallImageUrl(i)" loading="lazy" >
        </div>
    </div>
    <div id="image-viewer" *ngIf="this.showImageViewer">
        <img id="bg-viewer-image" [src]="this.getImageUrl(this.currentImageIndex)">
        <img id="fg-viewer-image" [src]="this.getImageUrl(this.currentImageIndex)">
        <img style="width: 0px;" [src]="this.getImageUrl(this.getNextImage())">
        <img style="width: 0px;" [src]="this.getImageUrl(this.getPreviousImage())">
        <button class="button" id="close-viewer" (click)="this.showImageViewer = false">X</button>
        <button class="button" id="next-image" (mousedown)="this.nextImage()">-></button>
        <button class="button" id="previous-image" (mousedown)="this.previousImage()"><-</button>
    </div>
</app-page-wrapper>