<section id="header-section" class="center-section earth-background">
    <p i18n="Home Header">Gemeinsam wollen wir der Sonne näherkommen</p>
</section>
<section id="info-section">
    <h2 i18n="Home Info Section Header">Was ist Projekt Solis?</h2>
    <p i18n="Home Info Section Description">Der Sonne näherkommen klingt cool oder? Genau das ist unser Ziel!</p>
    <p i18n="Home Info Section Description">Wir, das P-Seminar geleitet von Herr Neßlinger, wollen einen Stratosphärenballon aufsteigen lassen.</p>
</section>
<section id="transition-section"></section>
<section id="team-section">
    <h2 i18n="Header to list of team members">Das Team</h2>

    <h3 i18n="Header to list of organization-team members">Organisation</h3>
    <p>Yannik&nbsp;&nbsp;Tom&nbsp;&nbsp;Lukas</p>

    <h3 i18n="Header to list of technic-team members">Technik</h3>
    <p>Felix W.&nbsp;&nbsp;David</p>

    <h3 i18n="Header to list of construction-team members">Bau - Team</h3>
    <p>Sophia&nbsp;&nbsp;Mark&nbsp;&nbsp;Laura&nbsp;&nbsp;Michael&nbsp;&nbsp;Luise</p>

    <h3 i18n="Header to list of blog-team members">Blog</h3>
    <p>Lukas&nbsp;&nbsp;David&nbsp;&nbsp;Sophia (Foto)</p>

    <h3 i18n="Header to list of data-evaluation-team members">Datenauswertung</h3>
    <p>Felix R.&nbsp;&nbsp;Leon&nbsp;&nbsp;Sophia&nbsp;&nbsp;Joana</p>

    <h3 i18n="Header to list of video-team members">Video</h3>
    <p>Leon</p>
</section>
<section id="transition-section" style="transform: rotate(180deg);"></section>
<section id="sponsor-section">
    <h2  i18n="Header to list of financial support">Finanzielle Unterstützung</h2>
    <p><a href="https://www.vr-mfr.de">VR-Bank Mittelfranken Mitte eG</a></p>
    <p><a href="https://www.buergerstiftung-schwabach.de/ueber-uns/gerhard-mazurczak-stiftung">Gerhard Mazurczak Stiftung</a></p>
    <p><b i18n="Thankyou message to sponsors on home page">Vielen Dank für die erneute Unterstützung unseres Projekts!</b></p>
</section>