<section id="header-section">
    <p>Gemeinsam wollen wir der Sonne näherkommen</p>
</section>
<section id="info-section">
    <h2>Was ist Projekt Solis?</h2>
    <p>Der Sonne näherkommen klingt cool oder? Genau das ist unser Ziel!</p>
    <p>Wir, das P-Seminar geleitet von Herr Neßlinger, wollen einen Stratosphärenballon aufsteigen lassen.</p>
</section>
<section id="transition-section"></section>
<section id="team-section">
    <h2>Das Team</h2>

    <h3>Organisation</h3>
    <p>Yannik&nbsp;&nbsp;Tom&nbsp;&nbsp;Lukas</p>

    <h3>Technik</h3>
    <p>Felix W.&nbsp;&nbsp;David</p>

    <h3>Bau - Team</h3>
    <p>Sophia&nbsp;&nbsp;Mark&nbsp;&nbsp;Laura&nbsp;&nbsp;Michael&nbsp;&nbsp;Luise</p>

    <h3>Blog</h3>
    <p>Lukas&nbsp;&nbsp;David&nbsp;&nbsp;Sophia (Foto)</p>

    <h3>Datenauswertung</h3>
    <p>Felix R.&nbsp;&nbsp;Leon&nbsp;&nbsp;Sophia&nbsp;&nbsp;Joana</p>

    <h3>Video</h3>
    <p>Leon</p>
</section>