:host {
  position: relative;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 2px solid rgb(68, 137, 202);
  overflow: hidden;
}
  
.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}
  