<app-page-wrapper>
    <div id="save-settings">
        <p>Autosave:</p>
        <label class="switch">
            <input type="checkbox" [checked]="autoSave" (change)="autoSave = !autoSave">
            <span class="slider"></span>
        </label>
        <button *ngIf="!autoSave" class="button" (click)="save()">Speichern (Ctrl + S)</button>
        <div class="loader" *ngIf="editing$ | async"></div>
    </div>
    <form id="post-editor" [formGroup]="editForm">
        <div id="header-editor">
            <input id="name-input" placeholder="Post Titel" formControlName="title">
            <input id="description-input" placeholder="Post Beschreibung" formControlName="description">
            <input id="cover-image-input" placeholder="Banner Hintergrund" type="url" formControlName="cover_image_url">
        </div>
        <div id="content-editor">
            <quill-editor [modules]="modules" formControlName="content"></quill-editor>
        </div>
    </form>

</app-page-wrapper>