:host {
    display: block;
    padding: 130px 0px 80px 0px;
    display: flex;
    justify-content: center;
    background: url("/assets/earth.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

#create-post-button {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
}

#create-post-button:hover {
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

#blog-creator-list-container {
    display: block;
    width: min(min(max(60%, 400px), 1000px), 100%);
}

#posts-container {
    margin-top: 50px;
}