<div id="blog-creator-list-container">
    <button id="create-post-button">Neuer Beitrag</button>
    <div id="posts-container">
        <app-blog-creator-post-preview [name]="'Lorem ipsum dolor'" [description]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et'"></app-blog-creator-post-preview>
    </div>
</div>