@import '~quill/dist/quill.snow.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import '~node_modules/katex/dist/katex.min.css';
@import '~leaflet/dist/leaflet.css';

@font-face {
    font-family: roboto;
    src: url("/assets/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto;
    font-weight: bold;
    src: url("/assets/Roboto-Bold.ttf");
}
@font-face {
    font-family: roboto;
    font-style: italic;
    src: url("/assets/Roboto-Italic.ttf");
}
@font-face {
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    src: url("/assets/Roboto-BoldItalic.ttf");
}

body, html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: roboto;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 156, 156);
}

.box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #da981e;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menubar {
    margin: 10px 0px 30px 0px;
}

.menuicon {
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}

.image-uploading {
    display: flex;
    align-items: center;
    flex-direction: center;
    animation-name:  uploading-animation;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.earth-background {
    background: url("/assets/earth.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.center-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes uploading-animation {
    from {filter: grayscale(0%);}
    to {filter: grayscale(100%);}
}

.leaflet-control-zoom-out, .leaflet-control-zoom-in, .zoomtrack {
    background-size: contain  !important;
    background-color: transparent !important;
    image-rendering: pixelated;
    border: none !important;
    width: 40px !important;
    height: 40px !important;
    color: transparent !important;
}
.leaflet-control-zoom-out {
    background-image: url("assets/mapzoomout.png");
}
.leaflet-control-zoom-in {
    background-image: url("assets/mapzoomin.png");
}
.zoomtrack {
    background-image: url("assets/mapzoomtrack.png");
    &:hover {
        cursor: pointer;
    }
}

.leaflet-control-zoom {
    border: none !important;
}

.ql-editor {
    p {
        line-height: 26px;
        font-size: 16px;
    }
    ul {
        margin-block: 10px;
        li {
            font-size: 16px;
            line-height: 26px;
        }
    }
}


@media only screen and (min-width: 601px) {
    .space-navbar {
        padding-top: 80px;
    }
}