@import '~quill/dist/quill.snow.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import '~node_modules/katex/dist/katex.min.css';

@font-face {
    font-family: roboto;
    src: url("/assets/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto;
    font-weight: bold;
    src: url("/assets/Roboto-Bold.ttf");
}
@font-face {
    font-family: roboto;
    font-style: italic;
    src: url("/assets/Roboto-Italic.ttf");
}
@font-face {
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    src: url("/assets/Roboto-BoldItalic.ttf");
}

body, html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: roboto;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
}

.button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #da981e;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menubar {
    margin: 10px 0px 30px 0px;
}

.menuicon {
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}